@import "./Vars.scss";
@import "./Media.scss";

body {
    margin: 0;
    font-family: $theme-font;
    background: $main-color;
}
  
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

// .btn {
//     padding: .5rem 2rem;
//     width: 80%;
//     border-radius: 8px;
//     border-color: transparent;
//     color: #fff;
// }

// .btn-orange {
//     background-color: #FF7F41;
// }